
/* Create three equal columns that floats next to each other */
.column {
  margin-top: 10px;
  align-self: auto;
  width: 100%;
  padding: 5px;
}

.columnthin {
  margin-top: 10px;
  align-self: auto;
  width: 5%;
  padding: 5px;
}
.container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.adx-button.primary {
  width:95%;
}

.adx-direction-inform {
  max-width: 100% !important;
  background-color: aqua;
}

.adx-button.primary:hover {
  font-weight: normal;
}

*, ::after, ::before {
   box-sizing: unset;
}

.listQuestion {
  margin: auto;
  margin-bottom: 5px;
  font-size: large;
}

.listNumber {
  margin: auto;
  margin-bottom: 5px;
  margin-left: 15px;
  font-size: large;
}

.brand-midblue {
  background-color: #ebf2f7 !important;
  cursor: default;
}

.brand-midblue:hover {
  background-color: #ebf2f7 !important;
  color: black !important;

}

.adx-button.primary.bottombar {
  background-color: #fa6769   !important;
  border: none;
  cursor: default;
}

.adx-button.primary.bottombar:hover {
  background-color: #fa6769  !important;
  color: black !important;
 }

.adx-button.primary.topbar {
  background-color: #43aa8b !important;
  border: none;
  cursor: default;
}

.adx-button.primary.topbar:hover {
  background-color: #43aa8b  !important;
  color: black !important;
 }

 


